<div>
  <h3>Fundamentals</h3>
  <p>{{ title + '!' }}</p>
  <p [innerHtml]="title"></p>
  <div>{{ numberOne + numberTwo }}</div>
  <div>{{ isHappy ? ':)' : ':(' }}</div>
  <img [src]="logoUrl">
  <div>
    Property Binding :
    <br>
    <input type="text" [value]="name">
  </div>
  <div>
    Input Event:
    <br>
    <input type="text" [value]="name" (input)="handleInput($event)">
  </div>
  <div>
    Blur Event:
    <br>
    <input type="text" [value]="name" (blur)="handleBlur($event)">
  </div>
  <div>
    Two Way Data Binding:
    <br>
    <input type="text" [ngModel]="name" (ngModelChange)="handleChange($event)">
  </div>
  <div>
    Two Way Data Binding short:
    <br>
    <input type="text" [(ngModel)]="name">
  </div>
  <div>
    Template Ref:
    <br>
    <input type="text" [value]="name" #nameInput>
  </div>
  <p>The value of name is : <strong>{{ name }}</strong></p>
  <button (click)="handleClick(nameInput.value)">Get Value</button>
  <br><br><br><br>
  <h3>Rendering Flows</h3>
  <h3>NgIf:</h3>
  <p *ngIf="name.length > 2">The value of name is : <strong>{{ name }}</strong></p>
  <ng-template [ngIf]="name.length">
    <p>The value of name is : <strong>{{ name }}</strong></p>
  </ng-template>
  <h3>NgFor:</h3>
  <h4>Airline passengers</h4>
  <ul>
    <li *ngFor="let passenger of passengers; let i = index">
      {{ i+1 }} : {{ passenger.fullName }}
    </li>
  </ul>
  <h4>Airline passengers using ng-template</h4>
  <ul>
    <ng-template ngFor let-passenger let-i="index" [ngForOf]="passengers">
      <li>
        {{ i+1 }} : {{ passenger.fullName }}
      </li>
    </ng-template>
  </ul>
</div>
