.status {
  width: 10px;
  height: 10px;
  background: #c0392b;
  display: block;
  margin: 8px 10px 0 0;
  float: left;
  border-radius: 50%;
}

.status.checked-in {
  background: #2ecc71;
}

.app > div {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #cecece;
  padding: 16px;
  margin-right: 8px;
}

h4 {
  font-weight: bold;
}
